.board {
  display: block;
}

.game-result {
  height: 40px;
}

.tile {
  border: 2px solid #000;
  float: left;
  text-align: center;
  font-size: 80px;
  vertical-align: middle;
}

table,
td {
  border: 1px solid black;
  text-align: center;
}

thead {
  background-color: #333;
  color: #fff;
}
