.board {
  width: 600px;
  height: 600px;
  display: inline-block;
  max-width: 600px;
}

.tile {
  width: 150px;
  height: 150px;
  border: 2px solid #000;
  float: left;
  text-align: center;
  font-size: 100px;
  vertical-align: middle;
  line-height: 150px;
}

table,
td {
  border: 1px solid black;
  text-align: center;
}

thead {
  background-color: #333;
  color: #fff;
}
