.board {
  width: 625px;
  height: 625px;
}

.tile {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  float: left;
  text-align: center;
  font-size: 100px;
  vertical-align: middle;
  line-height: 200px;
}
